@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background: #EAF6F6;
    font-family: Roboto;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: gray;
    border-width: 6px;
    width: 10%;
}

h1 {
    color: #055052;
}

h3 {
    color: #66BFBF;
}

.yu {
    border-radius: 50%;
    border: solid 1px black;
}